.row {
    padding: 0;
    margin: 0;
}
.page-title {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-right: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}

.form-wrapper form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-products {
    padding: 0;
    border: 1px solid gray;
    border-radius: 5px;
}

.col-products table {
    padding-top: 0;
    margin-top: 0;
}
